@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

/*----------css reset start--------------*/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    height: -webkit-fill-available;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
    font-family: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*----------css reset end--------------*/

/*------------- general body start---------------------*/
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: 'Kanit', sans-serif;
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
    width: 100%;
    /*color: rgba(255, 255, 255, 0.4);*/
    color: rgb(156, 154, 154);
    background-color: #0B0A0A;
}

body::after {
    content: "";
    inset: 0;
    position: absolute;
    z-index: -1;
    background: url("../assets/lineobjekt.png") center center no-repeat;
    background-size: cover;
    opacity: .3;
}

/*-----------------------header and logo start------------------*/
header {
    width: 100%;
}

header > img {
    width: 115px;
    height: auto;
    margin-inline: auto;
}

@media(max-height: 750px) {
    body {
        grid-template-rows: 1fr auto;
    }

    header {
        display: none;
    }

    main {
        padding-top: .5rem;
    }
}

/*-----------------------header and logo end------------------*/


/*------------- general body end---------------------*/

/*-----------------footer and navigation start---------------------*/

footer {
    margin-top: auto;
    width: 100%;
    padding: 1rem .9rem;
}

.footer > * {
    display: block;
}

.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    color: #FFFFFFB2;
    width: 100%;
    max-width: 697px;
    margin-inline: auto;
    z-index: 1;
}

.menu>span {
    opacity: 0;
    display: grid;
    place-items: center;
    text-align: center;
    flex: 1;
    height: 43px;
    font-size: 10px;
    border-radius: 22px;
    background-color: rgba(22, 22, 22, 0.76);
    transition: opacity .8s ease-in-out;
}

.menu>span.open {
    opacity: 1;
}

.menu-btn {
    display: grid;
    place-content: center;
    color: #FFFFFF;
    background-color: #D7B161;
    border: none;
    border-radius: 50%;
    padding: .9rem 1rem;
    max-width: 238px;
    cursor: pointer;
}

.menu-btn > img {
    width: 1.8rem;
    filter: brightness(0) invert(1);
    transition: transform .3s ease-in-out;
}

.menu-btn.open > img {
    transform: rotate(135deg);
}

.navigation {
    display: grid;
    place-items: center;
    width: 100%;
    max-width: 420px;
    margin-bottom: 1rem;
    margin-inline: auto;
    padding-inline: .5rem;
}

.navigation ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: .2rem;
    width: 100%;
}

.navigation ul li {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity .5s ease-in-out, transform .5s ease-in-out;
    position: relative;
}

.navigation ul li:nth-of-type(1) {
    transition-delay: .1s;
}

.navigation ul li:nth-of-type(2) {
    transition-delay: .2s;
}

.navigation ul li:nth-of-type(3) {
    transition-delay: .3s;
}

.navigation ul li:nth-of-type(4) {
    transition-delay: .4s;
}

.navigation ul li:nth-of-type(5) {
    transition-delay: .5s;
}

.navigation.open ul li {
    opacity: 1;
    transform: translateY(0);
}

.navigation ul li a {
    display: grid;
    place-items: center;
    width: 50.68px;
    height: 50.68px;
    background-color: hsla(0, 3%, 23%, 0.5);
    color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
}

.navigation ul li a img{
    width: 1.5rem;
    filter: brightness(.8);
}

.navigation ul li .active {
    filter: brightness(0) invert(1);
    background-color: hsla(0, 2%, 70%, 0.45);
}

@media (hover:hover) and (pointer:fine) {
   /* .navigation ul li::before {
        position: absolute;
        width: auto;
        height: auto;
        font-size: 1rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -230%);
        opacity: 0;
    }

    .navigation ul li:nth-of-type(1)::before {
        content: "služby";
    }

    .navigation ul li:nth-of-type(2)::before {
        content: "portfólio";
    }

    .navigation ul li:nth-of-type(3)::before {
        content: "domov";
    }

    .navigation ul li:nth-of-type(4)::before {
        content: "kontakt";
    }

    .navigation ul li:nth-of-type(5)::before {
        content: "poloha";
    }*/

    .navigation ul li a:hover {
        transform: scale(1.3);
        background-color: hsla(0, 2%, 70%, 0.3);
        transition: transform .1s ease-in-out 0s;
    }

    .navigation ul li .active:hover {
        background-color: hsla(0, 2%, 70%, 0.5);
    }
}

@media(max-height: 750px) {
    .navigation {
        margin-bottom: .3rem;
    }
}

@media (min-width: 550px) {
    .menu {
        justify-content: space-evenly;
        flex-grow: 1;
        gap: 0;
        height: 52px;
        background-color: rgba(22, 22, 22, 0);
        border-radius: 22px;
        transition: background-color .5s ease-in-out;
    }

    .menu.open {
        background-color: rgba(22, 22, 22, 0.76);
    }

    .menu > span {
        height: 100%;
        font-size: 13px;
        padding-inline: .5rem;
        background: transparent;
    }

    .menu-btn {
        flex: 1;
        height: 100%;
        font-size: 2rem;
        border-radius: 96px;
    }

    .menu-btn > img {
        width: 2.2rem;
    }

    .navigation ul li a {
        width: 65.17px;
        height: 65.17px;
        font-size: 1.5rem;
    }

    .navigation ul li a img{
        width: 1.7rem;
    }
}

@media (min-width: 750px) {
    footer {
        padding-top: 1.5rem;
    }

    .navigation ul li a img{
        width: 2rem;
    }
}


/*-----------------footer and navigation end---------------------*/