@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');


/*------------------main container start -------------------------*/

.heading-container {
    background: rgba(22, 22, 22, 0.88);
    box-shadow: -3px 6px 9px rgba(0, 0, 0, 0.48);
    border-radius: 7px;
    padding: 1rem;
    display: grid;
    place-content: center;
}

.heading.mobile {
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    background: #B0914F;
    background: linear-gradient(160deg,  #D7B161 0%, rgba(255, 255, 255, 0.3) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent; 
}

.heading.desktop {
    display: none;
}

.main-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.pictures {
   order: 2;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
   flex: 1;
}

.map {
    height: auto;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
    flex: 1;
}

.map iframe {
    width: 100%;
    height: 100%;
    filter: drop-shadow(-3px 6px 9px rgba(0, 0, 0, 0.48));
    border-radius: 7px;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
}

.gallery img {
    height: 100%;
    width: 100%;
    max-height: 133px;
    filter: drop-shadow(-3px 6px 9px rgba(0, 0, 0, 0.48));
    border-radius: 7px;
    overflow: hidden;
}

.contact-section {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: 0.75rem;
    line-height: 1.8;
}

.contact-section > * {
    display: flex;
    align-items: center;
    padding: .6em 1em;
    width: 100%;
    height: 100%;
    background: rgba(22, 22, 22, 0.88);
    box-shadow: -3px 6px 9px rgba(0, 0, 0, 0.48);
    border-radius: 7px;
}

.contact-section > * > span {
    margin-inline: auto;
    color: rgb(156, 154, 154);
}

.contact-section > * >:first-child {
    margin-right: 1em;
}

.info-container {
    margin: 0 auto;
}

.info-container span{
    display: block;
}

.info-container >:first-child {
    color: rgba(255, 255, 255, 0.56);
}

.info-container >:last-child {
    color: rgba(255, 255, 255, 0.27);
}

.icon-container {
    display: inline-block;
    width: 4em;
    height: auto;
}

.phone-container > .icon-container img{
    min-width: 50px;
    width: 100%;
}

.phone-container {
    transform: translateX(-20%); 
    justify-content: space-between; 
}

.mail-container {
    transform: translateX(20%);
}

@media(max-height: 750px) {
    .mail-container{
        height: auto;
    }

    .contact-section {
        font-size: 0.75rem;
    }

    .contact-section > * {
        padding: .3em 1em;
    }

    .icon-container {
        display: inline-block;
        width: 3em;
        height: auto;
    }

    .phone-container > .icon-container img{
        min-width: 35px;
        width: 100%;
    }
}

@media(min-width: 500px){
    .main-container {
        padding: 2rem;
        border-radius: 15px;
    }

    .main-container::before{
        border-radius: 15px;
    }

    .contact-section > *{
        font-size: 1.2rem;
    }
}

@media (min-width: 769px){  
    .heading.desktop {
        text-transform: uppercase;
        text-align: center;
        display: block;
        font-size: 2.5rem;
        font-weight: 700;
        background: #B0914F;
        background: linear-gradient(160deg,  rgba(255, 255, 255, .3) 0%, #D7B161 50%, rgba(255, 255, 255, 0.3) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent; 
    }
    
    .heading.mobile {
        display: none;
    }
}

@media (min-width: 1025px) and (max-height:850px){
    .wrapper {  
        display: grid;
        place-items: center;
        height: 65vh;
        overflow-y: auto; 
        border-radius: 15px;
        transform: matrix(1, 0, 0.05, 1, 0, 0);
    }

    .wrapper::-webkit-scrollbar {
        display: none;
    }

    .main-container {       
        transform: none;
    }
}


@media (min-width: 1025px){
    body::after {     
        background-size: auto;
    }

    .main-container {
        padding: 3rem 2rem;    
    }

    .heading-container {
        border-radius: 25px;
        height: 100px;
    }

    .heading.desktop {
        font-size: 3.325rem;
    }

    .main-section {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 2rem;
        gap: 2rem;
    }

    .main-section > * {
        flex: 1;
    }

    .pictures {
        order: 0;
    }

    .gallery img,
    .map {
        border-radius: 17px;
    }

    .map {
        min-height: 173px;
    }

    .phone-container > .icon-container {
        width: 4rem;
    }

    .info-container {
        margin: 0;
    }

    .contact-section {
        gap: 1.5em;
    }

    .contact-section > * {
        transform: translateX(0);
        padding-left: 1rem;
        padding-block: 0;
        height: 80px;
        font-size: 1.1rem;
        border-radius: 17px;
    }

    .phone-container .icon-container {
        width: 6rem;
    }

}

@media (min-width: 1280px){ 
    .heading-container {
        height: 125px;
    }

    .heading.desktop {
        font-size: 4.325rem;
    }

    .phone-container > .icon-container {
        width: 5em;
    }

    .pictures {
        gap: 2rem;
    }

    .gallery {
        gap: 1.5rem;
    }

    .contact-section {
        gap: 2rem;
    }

    .contact-section > * {
        height: 106px;
        font-size: 1.5rem;
    }

}


/*------------------main container end -------------------------*/
