@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

/*----------css reset start--------------*/
*, 
*::before, 
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
    font-family: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*----------css reset end--------------*/

body {     
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: 'Kanit', sans-serif;
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
    width: 100%;
    color: rgba(255, 255, 255, 0.4);
    background-color: #0B0A0A;
}

body::after {
    content: "";
    inset: 0;
    position: absolute;
    z-index: -1;   
    background: url("./assets/lineobjekt.png") center center no-repeat;
    background-size: cover;
    opacity: .3;
}


/*-----------------------header and logo start------------------*/
header {
    width: 100%;
}

header > img {
    width: 115px;
    height: auto;
    margin-inline: auto;
}
/*-----------------------header and logo end------------------*/



/*------------------main container start -------------------------*/
main {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    perspective: 1000px;
    perspective-origin: 50% 50%;
}

.main-container {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    width: 70vw;
    max-width: 1092px;
    height: 90%;
    min-height: 510px;
    padding: .8rem;
    background: linear-gradient(125.63deg, #FFFFFF -33.7%, rgba(255, 255, 255, 0) -33.68%, rgba(255, 255, 255, 0.31) 50.76%, rgba(102, 102, 102, 0) 125.29%);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    transform: matrix(1, 0, 0.05, 1, 0, 0);
}


.heading-container {
    background: rgba(22, 22, 22, 0.88);
    box-shadow: -3px 6px 9px rgba(0, 0, 0, 0.48);
    border-radius: 7px;
    padding: 1rem;
    height: 12%;
    display: grid;
    place-content: center;
}

.heading.mobile {
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    background: #B0914F;
    background: linear-gradient(160deg,  #D7B161 0%, rgba(255, 255, 255, 0.3) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent; 
}

.heading.desktop {
    display: none;
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5em;
    flex: 1;
}

.form {
   order: 2;
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   gap: .3rem;
}

.form > * {
    width: 100%;
}

.name-and-lastname {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
}

.name-and-lastname > * {
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group > label {
    font-size: 0.625rem;
    text-transform: uppercase;
    margin-left: .5rem;
}

.form-group > input,
.form-group > textarea,
.submit {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.56);
    background: rgba(22, 22, 22, 0.57);
    box-shadow: -3px 6px 9px rgba(0, 0, 0, 0.48);
    border-radius: 7px;
    margin-top: .2rem;
    padding: .4em;
}

.form-group.message {
    flex: 1;
}

#message {
    height: 100%;
    resize: none;
}

.submit {
    background: rgba(22, 22, 22, 0.88);
    text-transform: uppercase;
    height: 2rem;
    width: 82px;
    cursor: pointer;
    font-size: 0.625rem;
    margin-top: .6em;
}

.contact-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: 1.1em;
}

.contact-section > * {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .6em 1em;
    width: 100%;
    height: 100%;
    background: rgba(22, 22, 22, 0.88);
    box-shadow: -3px 6px 9px rgba(0, 0, 0, 0.48);
    border-radius: 7px;
}

.contact-section > * > span {
    margin-inline: auto;
}

.icon-container {
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
}

.phone-container {
    transform: translateX(-20%);
}

.mail-container {
    transform: translateX(20%);
}

@media (min-width: 769px){
    .main-container {
        padding: 2rem;
        border: 15px;
        height: auto;
    }

    .heading.desktop {
        text-transform: uppercase;
        text-align: center;
        display: block;
        font-size: 2.5rem;
        font-weight: 700;
        background: #B0914F;
        background: linear-gradient(160deg,  rgba(255, 255, 255, .3) 0%, #D7B161 50%, rgba(255, 255, 255, 0.3) 100%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent; 
    }
    
    .heading.mobile {
        display: none;
    }

    .main-section {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1rem;
        gap: 2rem;
    }

    .main-section > * {
        flex: 1;
    }

    .form {
        order: 0;
        gap: 1.5rem;
        width: 50%;
    }

    .name-and-lastname {
        gap: 1.5rem;
        max-width: 100%;
    }

    .contact-section {
        align-items: flex-end;
    }

    .contact-section > * {
        transform: translateX(0);
        padding-left: 1rem;
        padding-block: 0;
        margin-top: .8em;
        max-width: 408px;
        height: 80px;
        font-size: 1.1rem;
        border-radius: 17px;
    }

    #message {
        height: 88px;
    }

    .icon-container {
        width: 3.3em;
        height: 3.3em;
    }

    .submit {
        height: 46px;
        width: 159px;
        font-size: 0.825rem;
        border-radius: 17px;
    }
}

@media (min-width: 1025px){
    body::after {     
        background-size: auto;
    }

    header > img {
        width: 192px;
        height: auto;
        margin-inline: auto;
    }

    .main-container {
        padding: 3rem 2rem;
        border: 15px;
    }

    .heading-container {
        border-radius: 25px;
        height: 100px;
    }

    .heading.desktop {
        font-size: 3.325rem;
    }


    .main-section {
        flex-direction: row;
        margin-top: 2rem;
        gap: 2rem;
    }

    .form-group > label {
        font-size: 0.825rem;
        margin-left: 1rem;
    }

    .form-group > input,
    .form-group > textarea {
        border-radius: 16px;
        height: 2.75rem;
        font-size: 1rem;
        margin-top: .3rem;
    }

    .submit {
        height: 2.875rem;
        width: 160px;
    }

    .name-and-lastname {
        gap: 2rem;
    }

    .name-and-lastname input {
        width: 100%;
    }  

}

@media (min-width: 1201px){ 
    .heading-container {
        height: 125px;
    }

    .heading.desktop {
        font-size: 4.325rem;
    }

    .name-and-lastname {
        flex-direction: row;   
    }

    .contact-section > * {
        height: 106px;
        font-size: 1.5rem;
    }

}


/*------------------main container end -------------------------*/




/*-----------------footer and navigation start---------------------*/

footer {
    margin-top: auto;
    width: 100%;
    padding: 1rem .9rem;
}

.footer > * {
    display: block;
}

.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    color: #FFFFFFB2;
    width: 100%;
    max-width: 697px;  
    margin-inline: auto;
    z-index: 1;
}

.menu > span {
    display: grid;
    place-items: center;
    text-align: center;
    flex: 1;
    height: 43px;
    font-size: 10px;
    border-radius: 22px;
    background-color: rgba(22, 22, 22, 0.76);
}

.menu-btn {
    display: grid;
    place-content: center;
    color: #FFFFFF;
    background-color: #D7B161;
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    padding: 1rem;  
    max-width: 238px;
    cursor: pointer;
}

.menu-btn > i {
    transition: transform .3s ease-in-out;
}

.menu-btn.open > i {
    transform: rotate(135deg);
}

.navigation {
    display: grid;
    place-items: center;
    width: 100%;
    max-width: 420px;
    margin-bottom: 1rem;
    margin-inline: auto;
    padding-inline: .5rem; 
}

.navigation ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: .2rem;
    width: 100%;
}

.navigation ul li {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity .5s ease-in-out, transform .5s ease-in-out;
}

.navigation ul li:nth-of-type(1) {
    transition-delay: .1s;
}

.navigation ul li:nth-of-type(2) {
    transition-delay: .2s;
}

.navigation ul li:nth-of-type(3) {
    transition-delay: .3s;
}

.navigation ul li:nth-of-type(4) {
    transition-delay: .4s;
}

.navigation ul li:nth-of-type(5) {
    transition-delay: .5s;
}

.navigation.open ul li{
    opacity: 1;
    transform: translateY(0);
}

.navigation ul li a {
    display: grid;
    place-items: center;
    width: 50.68px;
    height: 50.68px;
    font-size: 1.1rem;
    background-color: hsla(0, 0%, 9%, .5);
    color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
}

.navigation ul li .active {
    color: white;
    background-color: hsla(0, 0%, 28%, 0.5);
}

@media (min-width: 550px) {
    .menu {
        justify-content: space-evenly; 
        flex-grow: 1;        
        gap: 0;
        height: 52px;
        background-color: rgba(22, 22, 22, 0.76);
        border-radius: 22px;     
    }

    .menu > span {
        height: 100%;
        font-size: 13px;  
        padding-inline: .5rem;
    }

    .menu-btn {
        flex: 1;       
        height: 100%;
        font-size: 2rem;  
        border-radius: 96px;        
    }

    .navigation ul li a {
        width: 65.17px;
        height: 65.17px;
        font-size: 1.5rem;
    }
}

/*-----------------footer and navigation end---------------------*/

